*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: #0f1424 !important;
}

a{
    text-decoration: none !important;
    cursor: pointer !important;
}

.myFontFamily300{
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.myFontFamily400{
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.myFontFamily500{
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.main_section{
    height: 100vh;
    width: 100vw;
}

.my-bg-primary{
    background-color: #1c1f4a;
}

.user-bg{
    background-color: #5847eb;
}

.my-text-secondary{
    color: #bdc1ff;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/*/////// XL ////////*/
@media (max-width:1200px){
    
}

/* ////// lg /////// */
@media (max-width:992px){
    .main_section{
        height: auto;
        width: auto;
    }
}

/* ////// md /////// */
@media (max-width:768px){
    
}

/* ////// Sm /////// */
@media (max-width:576px){
    
}